*{
    font-family: 'Ubuntu', sans-serif;
}

body {
    background: linear-gradient(90deg, rgb(134, 41, 255) 0%, rgba(239,52,84,1) 100%);
    margin-top: 0;
}

#account_header{
    display: flex;
    flex-direction: row;
    padding-left: 2em;
    padding-right: 2em;
    margin-top: 3em;
}
#profile_picture{
    min-width: 100px;
    max-width: 150px;
    min-height: 100px;
    max-height: 150px;
    clip-path: polygon(15% 0, 100% 0%, 84% 100%, 0% 100%);
    z-index: 95;

    margin-left: 1em;
}

#account_header div{
    margin-left: 2em;
}

#edit_profile{
    text-decoration: none;
    color: whitesmoke;
    transition: ease-in 0.1s;
}

#edit_profile:hover{
    border-bottom: whitesmoke solid 2px;
    padding-bottom: 0.3em;
}

#edit_profile:active{
    box-shadow: 1px 6px 7px -5px;
}

#biography{
    background-color:  rgba(255, 255, 255, 0.24);
    margin: 2.5em;
    padding: 1em 2em 1em 2em;
    margin-bottom: -1em;
    margin-top: 5em;
    position: relative;

    top: -55px;
    z-index: 20;

    border-radius: 20px;
}

#biography h2{
    font-style: italic;
}

.tab{
    justify-content: center;
}

#tabBar{
    display: flex;
    justify-content: space-evenly;

    border-bottom: white solid 2px;
}

.tabName{
    border: none;
    cursor: pointer;
    color: white;

    width: 10em;
    text-align: center;
    border-bottom: transparent solid 2px;
    transition: 0.2s;

    padding-top: 2em;
}

.tabName:hover{
    border-bottom: whitesmoke solid 2px;
}

.active{
    border-bottom: whitesmoke solid 2px;
}

.tabName:active{
    background-color:rgba(255, 255, 255, 0.24);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#postsTab{
    padding: 2em;
    padding-left: 0em;
    padding-right: 0em;
   
    display: flex;
    flex-wrap: wrap;
}

#postsTab #postImg {
    display: block;
    height: 10em;
    width: 2em;
    object-fit: cover;
}

#postsTab img{
    flex: 1 1 25%;
    width: 100px;
    margin: 10px;
    height: 25%;
}

#followersTab ul{
    list-style-type: none;
}

.tab ul li{ /*List container*/
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color:  rgba(255, 255, 255, 0.24);
    border-radius: 8px;
    color: white;

    width: 360px;

    margin-bottom: 1em;
}

.tab li img{ /*Profile picture in list*/
    clip-path: polygon(15% 0, 100% 0%, 84% 100%, 0% 100%);
    width: 80px;
    height: 80px;
    position: relative;
    left: -10px;
}

.tab li p{/*Name in list*/
    font-size: 1.2em;
}

.tab li a{/*Follow button in list*/
    text-decoration: none;
    color: black;

    background-color: rgba(255, 255, 255, 0.692);
    border-radius: 10px;

    padding: 1em;
    margin-right: 1em;
    transition: 0.2s;
}

.tab li a:hover{
    content: "Follow";
    background-color: rgb(255, 255, 255);
    box-shadow: 10px 10px 22px 0px rgba(0, 0, 0, 0.39);
}

.tab .isFollowing{
    background-color: rgba(255, 255, 255, 0.13);
    border: solid white 2px;
}

.tab .isFollowing:hover{
    background-color: rgba(248, 0, 0, 0.644);
}

.tab ul li:nth-child(even){
    position: relative;
    left: 4em;
}

.hide{
    display: none;
}

@media (min-width: 700px){
    #tabs{
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
    }

    #account_info{
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
        margin-top: 2em;
    }
}

@media (min-width: 1400px){
    #tabs{
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
    }

    #account_info{
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
    }

    #account_info{
        margin-top: 2em;
    }
}