*{
    font-family: 'Ubuntu', sans-serif;
}

body {
    background: linear-gradient(90deg, rgb(134, 41, 255) 0%, rgba(239,52,84,1) 100%);

    padding-top: 2em;
}

#account_header{
    display: flex;
    flex-direction: row;
    padding-left: 2em;
    padding-right: 2em;
}
#profile_picture{
    min-width: 100px;
    max-width: 150px;
    clip-path: polygon(15% 0, 100% 0%, 84% 100%, 0% 100%);
    z-index: 999;

    margin-left: 1em;
}

#account_header div{
    margin-left: 2em;
}

#edit_profile{
    text-decoration: none;
    color: whitesmoke;
    transition: ease-in 0.1s;
}

#edit_profile:hover{
    border-bottom: whitesmoke solid 2px;
    padding-bottom: 0.3em;
}

#edit_profile:active{
    box-shadow: 1px 6px 7px -5px;
}

#biography{
    background-color:  rgba(255, 255, 255, 0.24);
    margin: 2.5em;
    padding: 1em 2em 1em 2em;
    margin-bottom: -1em;

    position: relative;

    top: -55px;
    z-index: 30;

    border-radius: 20px;
}

#biography h2{
    font-style: italic;
}

#tabBar{
    display: flex;
    justify-content: space-evenly;

    border-bottom: white solid 2px;
}

.tabName{
    border: none;
    cursor: pointer;
    color: white;

    width: 10em;
    text-align: center;
    border-bottom: transparent solid 2px;
    transition: 0.2s;

    padding-top: 2em;
}

.tabName:hover{
    border-bottom: whitesmoke solid 2px;
}

.active{
    border-bottom: whitesmoke solid 2px;
}

.tabName:active{
    background-color:rgba(255, 255, 255, 0.24);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#postsTab{
    padding: 2em;
    padding-left: 0em;
    padding-right: 0em;
   
    display: flex;
    flex-wrap: wrap;
}

#postsTab img{
    flex: 1 0 25%;
    width: 100px;
    margin: 10px;
}

#followersTab ul{
    list-style-type: none;
}

#followersTab img{
    width: 50px;
}